<html>

<body style="font-family: sans-serif; height:100%; background:#8b8bc1;">
    <table style="border:1px solid black; background:#fefefe;width:100%;">
        <tr>
            <td>
                <table style="width:100%">
                    <tbody>
                        <tr style="background: #5f0082;">
                            <td>
                                <table style="color: #fefefe;">
                                    <thead>
                                        <tr>
                                            <td style="width: 78%;padding-left: 5px;">
                                                <h1>DH Invoice</h1>
                                                <h3>The invoice for {{teamName}} can be opened in excel by clicking the link below.</h3>
                                                {{genDhInvoiceXl}}
                                            </td>
                                        </tr>
                                    </thead>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr />
            </td>
        </tr>
        <tr style="border: none; background:none;">
            <td style="border: none; background:none;color: #fefefe;">
                

            </td>
        </tr>
    </table>
</body>
</html>